.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.h1 {
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.field {
  border: 1px solid #000;
}

.button {
  border: 1px solid #000;
  padding: 4px 8px;
}

.button_nav {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #000;
  padding: 4px 8px;
}
